*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    
}

.mdsd
{
    width: 25rem;
}
.current_time
{
    height: 30px;
    width: 120px;
}
.set_alarm
{
    width: 100%;
}

.container1, .container2, .container3
{
    height: 25px;
    width: 50px;
}

input
{
    height: 25px;
    width: 50px;
}